@model BangazonWorkforce.Models.EmployeeDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.IsSupervisor)
        </dt>
        <dd>
            @if (Model.Employee.IsSupervisor)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Department.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computers)
        </dt>
        @if (Model.Computers.Count == 0)
        {
            <dd>
                No Computers Assigned Yet.
            </dd>
        }
        else
        {
            @foreach (var item in Model.Computers)
            {
                <dd>
                    @Html.DisplayFor(modelItem => item.Make):
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </dd>
            }
        }
        <dt>
            @Html.DisplayNameFor(model => model.TrainingPrograms)
        </dt>
        @if (Model.TrainingPrograms.Count == 0)
        {
            <dd>
                Not Participating in Any Training Programs.
            </dd>
        }
        else
        {
            @foreach (var item in Model.TrainingPrograms)
            {
                <dd>
                    @Html.DisplayFor(modelItem => item)
                </dd>
            }
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Employee.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
