@model BangazonWorkforce.Models.DepartmentDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-md-6">
                <dt>
                    @Html.DisplayNameFor(model => model.Department.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Department.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Department.Budget)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Department.Budget)
                </dd>
                <dt>
                    <label asp-for="AllEmployees" class="control-label"></label>
                </dt>
                <dd>
                    <div>
                        <ul class="list-group">
                            @if (Model.AllEmployees.Count == 0)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-right">No Employees</li>
                            }
                            else
                            {
                                @foreach (var item in Model.AllEmployees)
                                {
                                    <li class="list-group-item d-flex justify-content-between align-items-right">
                                        @Html.DisplayFor(model => item.FirstName)
                                        @Html.DisplayFor(model => item.LastName)
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </dd>
            </div>
        </div>
        
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Department.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
